<% 
die1 = rand(1..6)
die2 = rand(1..6)
%>

<h1> Combined score: <%= die1+die2 %> </h1>

<p> 
  <!-- Dice 1 score: <%= die1 =%> -->
  <!-- Dice 2 score: <%= die2 =%> -->
  <img src="/images/dice/<%= die1 %>.svg" alt="">
  <img src="/images/dice/<%= die2 %>.svg" alt="">
</p>

<p> </p>

<p>
  <a href="/dice"> Roll again!</a>
</p>